body {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 200px;
}

#timer {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
}
